{% extends 'base.html' %}
{% load static %}
{% block title %} Embermail | App-Password {% endblock title %}

{% block content %}
<!-- page header title section start -->
<div class="em_inner_area">
    <div class="em_inner_content">
        <div class="connect-gmail-box-wrapper">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="connect-content-left-wrapper">
                      {% if email_provider == 'gmail' %}
                        <div class="connect-title">
                            <img src="{% static '/images/Gmail-logo.svg' %}" alt="email-logo"/>
                            <h1>Secure your Account</h1>
                        </div>
                        <h4>
                            For your security, we use the application password
                            instead of your inbox password.
                        </h4>
                        <ul class="mt-0">
                            <li>
                                <p>
                                    Enable
                                    <a href="{{ two_step_verification_link }}" target="_blank">2-step
                                        verification</a>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Create an
                                    <a href="{{ app_password_link }}" target="_blank">App password</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    The application password is a 16-digit code that can
                                    be found on the generated password page.
                                </p>
                            </li>
                        </ul>
                      {% else %}
                      <div class="connect-title">
                            <img src="{% static '/images/Outlook-logo.svg' %}" alt="email-logo"/>
                            <h1>Secure your Account</h1>
                        </div>
                        <h4>
                            For your security, we use the application password
                            instead of your inbox password.
                        </h4>
                        <ul class="mt-0">
                            <li>
                                <p>
                                    Enable
                                    <a href="{{ two_step_verification_link }}" target="_blank">2-step
                                        verification</a>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Create an
                                    <a href="{{ app_password_link }}" target="_blank">App password</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    The application password is a 16-digit code that can
                                    be found on the generated password page.
                                </p>
                            </li>
                        </ul>
                      {% endif %}
                        <div class="custom-form w-100">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email_message_div" class="form-label">Email address</label>
                                <div class="form-control" id="email_message_div">{{ email }}</div>
                            </div>
                            <div class="mb-3 password-field">
                                <label for="app_password" class="form-label">App Password</label>
                                <input type="password" id="app_password" placeholder="Password" class="form-control"
                                       name="txtPassword"/>
                                <span class="error-msg" id="app_password_error"></span>
                            </div>
                            <div class="connect-gmail-btn-row">
                                <a href="{% url 'campaigns:joining_imap_details' %}" class="btn back-btn" id="back_btn">Back</a>
                                <a class="btn continue-btn" id="app_password_continue_btn">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="activate-info-sidebar-wrapper">
                        <ul class="progress">
                            <li class="progress__item progress__item--completed is-done">
                                <p class="progress__title">Enable IMAP</p>
                            </li>
                            <li class="progress__item progress__item--active">
                                <p class="progress__title">Security</p>
                            </li>
                            <li class="progress__item">
                                <p class="progress__title">Schedule</p>
                            </li>
                        </ul>

                        <div class="message-sent-wrapper">
                            <img src="{% static 'images/message.svg' %}" alt="mesage-icon"/>
                            <h6>having trouble?</h6>
                            <p>
                                feel free to contact us and we will always help you
                                through the process
                            </p>
                            <a href="{% url 'users:contact' %}" class="btn contactus-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-img">
        <img src="{% static '/images/Saly-17.png' %}" alt="bottom-emoji"/>
    </div>
</div>
<!-- page header title section ended -->
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/campaigns/joining_add_app_password.js' %}"></script>
{% endblock javascript %}