{% extends 'onboarding_base.html' %}
{% load static %}

{% block content %}
<!-- Middle section start -->
<main class="flex-shrink-0 middle-section">
    <div class="middle-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="reset-password-block">
                        <h2>Reset Password</h2>
                        <p>Create new password to complete reset process</p>
                        <div class="custom-form w-100 mt-5">
                            <div class="invalid-password-alert-box d-none" id="common_error_div">
                                <img alt="" src="{% static 'images/CloseCircle.svg' %}">
                                <p id="common_error"></p>
                            </div>
                            {% csrf_token %}
                            <div class="mb-3 password-field">
                                <label class="form-label" for="password">New Password</label>
                                <input class="form-control" id="password" placeholder="Password"
                                       type="password"/>
                                <button class="toggle" id="btnToggle" type="button"><i class="fa fa-eye"
                                                                                       id="eyeIcon"></i></button>
                                <span class="error-msg" id="password_error"></span>
                            </div>
                            <span class="error-msg p-0 m-0 d-none" id="strong_password_error">
                                Password should contain at least one digit, lowercase, uppercase, special character and length should be between 8-32.
                            </span>
                            <button class="btn submit-btn" id="reset_password_btn">Reset</button>
                        </div>
                        <a class="back-login-link" href="{% url 'users:onboarding' %}">Back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Middle section ended -->
{% endblock content %}


{% block javascript %}
<script src="{% static 'js/users/password_reset_confirm.js' %}"></script>
{% endblock javascript %}