{% extends 'onboarding_base.html' %}
{% load static %}

{% block content %}

<!-- Middle section start -->
<main class="flex-shrink-0 middle-section">
    <div class="middle-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="forgot-password-block">
                        <h2>Forgot Password</h2>
                        <p>Provide your information for reset instructions</p>
                        <div class="custom-form w-100 mt-5">
                            <div class="invalid-password-alert-box d-none" id="common_error_div">
                                <img alt="" src="{% static 'images/CloseCircle.svg' %}">
                                <p id="common_error"></p>
                            </div>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email"
                                    placeholder="Your email address" aria-describedby="emailHelp">
                                <span class="error-msg" id="email_error"></span>
                            </div>
                            <div id="email_not_exist_message" class="mb-3 recognize-info-mail-box d-none">
                                <span>👋</span>
                                <p >We don’t recognize <b id="entered_email"></b>. Would
                                    you like to <a  href="{% url 'users:onboarding' %}">create an account</a> with this email?
                                </p>
                            </div>

                            <button id="password_reset_btn" class="btn submit-btn">Reset my password</button>
                        </div>
                        <a href="{% url 'users:onboarding' %}" class="back-login-link">Back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Middle section ended -->
{% endblock content %}


{% block javascript %}
<script src="{% static 'js/users/password_reset.js' %}"></script>
{% endblock javascript %}