<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Dark Mode meta tags needed to enable Dark Mode in email client user agents-->
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark only" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../assets/SF-fonts/stylesheet.css" rel="stylesheet" />

    <title>Email Template | Embermail</title>
    <link rel="shortcut icon" href="../assets/images/M-logo.svg" type="image/x-icon" />
</head>
<style>
    @media (max-width: 767px) {
        .div_scale {
            max-width: fit-content !important;
            padding: 50px 20px !important;
        }
    }
</style>

<body style="margin: 0; padding: 0; background: #f9f9f9">
    <center>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9"
            style="padding: 0; margin: 0">
            <tr>
                <td class="full_width" align="center" width="100%" style="padding: 0">
                    <div class="div_scale" style="
                width: 100%;
                max-width: 600px;
                background: #ffffff;
                padding: 50px 26px;
                text-align: left;
                font-family: 'Arial', sans-serif;
              ">
                        <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px">
                            <tr>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img src="../assets/images/logo.svg" width="auto" height="auto"
                                            style="display: block; margin-bottom: 20px" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h1 style="
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: #1f2730;
                        margin-bottom: 20px;
                        font-family: 'SF Pro Display';
                      ">
                                        Hello, {{username}}
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h1 style="
                        font-size: 16px;
                        line-height: 10px;
                        font-weight: 600;
                        color: #1f2730;
                        margin-bottom: 1px;
                        font-family: 'SF Pro Display';
                      ">
                                        Verify Your Email
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="
                        font-size: 15px;
                        line-height: 24px;
                        color: #1f2730;
                        margin-bottom: 30px;
                        font-weight: 400;
                        font-family: 'SF Pro Display';
                      ">
                                        Thank you for registering with embermail!. email warming tool
let’s warm up your ice cold emails.
Click the button below to verify your email. Ignore this email if you did not make this
                                        request.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#EB5242" style="
                                  padding: 12px 24px 12px 24px;
                                  border-radius: 8px;
                                  cursor: pointer;
                                " align="center">
                                                            <a href="{{verification_link}}" target="_blank" style="
                                    font-family: 'SF Pro Display';
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #ffffff;
                                    text-decoration: none;
                                    display: inline-block;
                                    line-height: 24px;
                                  ">
                                                                Verify Your Email
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100%" height="32">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr style="
                        border: none;
                        height: 1px;
                        color: #cccccc;
                        background: #cccccc;
                        width: 100%;
                        margin-bottom: 28px;
                        font-family: 'SF Pro Display';
                      " />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="
                        font-size: 14px;
                        line-height: 24px;
                        color: #b4b7ba;
                        margin: 0;
                        font-weight: 500;
                        font-family: 'SF Pro Display';
                      ">
                                        Sent with ❤️ from Embermail
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="
                        font-size: 14px;
                        line-height: 24px;
                        color: #b4b7ba;
                        margin-bottom: 18px;
                        font-weight: 500;
                        font-family: 'SF Pro Display';
                      ">
                                        Copyright 2023 - Embermail
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>